<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title> {% block title %}Специализированная база знаний {% endblock title %}</title>

    <link rel="icon" href="/static/img/favicon.png" />

    <!-- Для ИИ -->
    <script src="{{ omni_url }}/widgets/omni-embed-loader.js"></script>

     {% block static_file %} {% endblock static_file %}

    <style>
        .login-block {
            position: fixed;
            top: 10px;
            right: 10px;
            z-index: 1000;
            background-color: white;
            padding: 10px;
            border: 0px solid #ccc;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0,0,0,0.2);
            box-shadow: none;
        }
    </style>
</head>
    <body style="font-size: 14px;">
        {% block content_top %}{% endblock content_top %}
        {% block content %} <h1>ДОЛЖЕН БЫТЬ КОНТЕН</h1>  {% endblock content %}
        <script src="{{ url_for('static', path='/js/libs/d3.min.js') }}"></script>

    </body>
</html>